<h1>Nuevo usuario</h1>
<p>A continuación se puede ingresar un nuevo usuario.</p>
<br>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">Nuevo usuario</div>
		<div class="panel-toolbar">
			<%= link_to 'Volver', users_path, :class => "btn btn-link" %>
		</div>
	</div>
	<div class="panel-body">
		
		<%= render 'form' %>

	</div>
</div>
