<h1>Editar familia <%= @tag.name %></h1>
<p>A continuación se puede editar la información de la familia.</p>
<br>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">Editar familia</div>
		<div class="panel-toolbar">
			<%= link_to 'Volver', tags_path, :class => "btn btn-link" %>
			<%= link_to @tag, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
				<i class="fa fa-trash-o"></i>
			<% end %>
		</div>
	</div>
	<div class="panel-body">
		
		<%= render 'form' %>

	</div>
</div>
