<h1>Nuevo ###</h1>
<p>A continuación se puede registrar un nuevo ### en el sistema.</p>
<br>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">Nuevo ###</div>
		<div class="panel-toolbar">
			<%%= link_to 'Volver', <%= index_helper %>_path, :class => "btn btn-link" %>
		</div>
	</div>
	<div class="panel-body">
		
		<%%= render 'form' %>

	</div>
</div>
