<h1>Nuevo impuesto</h1>
<p>A continuación se puede ingresar un nuevo impuesto.</p>
<br>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">Nuevo impuesto</div>
		<div class="panel-toolbar">
			<%= link_to 'Volver', taxes_path, :class => "btn btn-link" %>
		</div>
	</div>
	<div class="panel-body">
		
		<%= render 'form' %>

	</div>
</div>
